/* You can add global styles to this file, and also import other style files */
@import url("normalize.css");
@import url("skeleton.css");

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.mobile-container {
  display: inline-flex;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  /*border: 1px solid black*/
}

.abs-center {
  width: 100%;
  height: auto;
  margin: auto;
  /*border: 1px solid blue;*/
}
